Reset Your Password

We received a request to reset your password. Dont worry,

it will only temporarily slow down laundry collaboration.

Your password has been changed. Please login and change it in your Profile.

#{temp_password}
Didnt request a password reset?

Reply to this email and Ill take care of it. 


